/* ==========================================
   FOOTER
========================================== */
.footer{

    padding:80px 8% 40px;
    text-align:center;

    border-top:1px solid rgba(83,200,255,.12);
    background: transparent;

}

/* CONTENT */
.footer-content h2{
    font-size:clamp(1.5rem,2.5vw,2rem);
    font-weight:800;

    background:linear-gradient(
        to bottom,
        #dff6ff 0%,
        #7fd3ff 30%,
        #1e90ff 65%,
        #1802a7 100%
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;

    text-shadow:0 0 20px rgba(10,132,255,.2);
}
.footer-content p{

    color:#53c8ff;
    font-size:15px;
    margin-bottom:12px;

}
.footer-content span{

    color:#9fb3c8;
    font-size:15px;
    display:block;
    margin-bottom:45px;

}
.tech-slider{

    padding:30px 0;
    overflow:hidden;
    width:100%;
    margin-bottom:40px;

}
.tech-track{

    display:flex;
    align-items:center;
    gap:70px;
    width:max-content;
    animation:scrollTech 18s linear infinite;

}
/*==logos==*/
.tech-track img{

    width:55px;
    height:55px;
    transition:.35s ease;
    opacity:.9;

}

.tech-track img:hover{

    transform:scale(1.12);
    filter:drop-shadow(0 0 10px #53c8ff);

}
/*==copyright==*/
.footer-copy{

    color:#7f93aa;
    font-size:14px;
    margin-top:25px;

}