/* ==========================================
ANIMATION 
========================================== */
@keyframes pulseRocket{

    0%,100%{

        transform:scale(1);
    }
    50%{

        transform:scale(1.08);
        filter:drop-shadow(0 0 12px #53c8ff);
    }

}