/*========================
   SKILLS SECTION
========================*/

.skills {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 10%;
    overflow: hidden;

    background: transparent;
}

.skills-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

/* LEFT SIDE */

.skills-content {
    flex: 1;
    max-width: 500px;
}

.skills-tag {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #00d9ff;
    border-radius: 50px;
    color: #00d9ff;
    font-size: .9rem;
    margin-bottom: 20px;
}

.skills-content h2 {
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 20px;
}

.skills-content h2 span {
    color: #00d9ff;
}

.skills-content p {
    color: #b8c0d0;
    line-height: 1.8;
    font-size: 1rem;
}